/*@import url('http://fonts.googleapis.com/css?family=Carrois+Gothic');*/
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400');

/*reiniciar valores por defecto*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i ,strong, em, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*body,h1,h2,h3,h4,h5,h6,ul,ol{
	padding:0;
	margin:0;
}*/
li{
	list-style:none;
}
a{
	text-decoration:none;
}
header,section,article,aside,footer{
	display:block; /*Arregla problemas de compatibilidad con html5: para firefox por ej.*/
}


/*-----------------*/
#logo{
	background: url('../img/pichuco.png') no-repeat;
	width:100px;
	height:100px;
	position:absolute;
	margin-left:-80px;
	margin-top:-10px;
}
header p{
	margin:10px 0;
}
p{
	margin:15px 0;
}
#contenido p{	
	line-height: 1.4em;
	font-size: 15px;
}
body{
	color:#444;
	background-color:#222;
	padding:0;
	margin:auto;
	font-family:"Myriad Pro","trebuchet ms","helvetica","verdana","arial";
	background:#af9f87 url("../img/big2Pichuco4.png") repeat-x -150px 0 fixed;

}
#contenedor{
	/*background:url("../img/sombraNav.png") repeat-x;*/
	background-position: 0px -15px;
	width:100%;
	padding:10px;
	/*background-color:white;*/
	font-size:14px;

}
#cabecera{
	width:960px;
	margin:auto;
	/*background-color:white;*/

}
#trans{
	/*overflow:hidden;*/
	padding-bottom:20px;
	/*min-height:800px;*/
	/*border: 1px solid #888;*/
	width:960px;
	margin:auto;
	/*opacity:.8;*/
	background-color:white;
	box-shadow: 0px 0px 8px #474138;
}
header{
	/*background:#333 url(../img/pichuco.png) no-repeat;*/
	background:#333 url(../img/fondoEncabezado.jpg) repeat-x;
/*	background-position:40px 15px;*/
	display:block;
	height:90px;
}
header div{
	color:#9c907d;
	float:right;
	display:block;
	font-size:10px;
	text-align: right;
	line-height: .25em;
	margin-right:10px;
}
section a:visited{
	color:#16368C;
}
section li{
	list-style:square;
	margin: 10px 0px 10px 30px;
}
section li li{
	list-style:circle;
	margin-left:40px;
}
section a{
	color:#16368C;
}
section a:hover{
	text-decoration:underline;
	color:#2353D9;
}
section{
	float:right;
	width:730px;
	padding:20px;
}
aside{
	float:left;
	width:130px;
}
aside span{
	padding:5px 0px;
	display:block;
	color:#aaa;
}
aside a{
	text-decoration:none;
	padding:5px 0px;
	font-size:14px;
	display:block;
}
aside a:hover{
	/*text-decoration:underline;*/
	background: url('../img/link1.jpg');
	margin-left:-2px;
}
nav a:visited, footer a:visited, nav a:link, footer a:link{
	color:#333;
}
#subir{
	position:fixed;
	bottom:22px;
	right:22px;
	background:#5d5547;
	color:white;
	padding:15px;
	opacity:0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#subir:hover{
	color:#40A6fE;
}
aside a:visited, aside a:link{
	color:white;
}
#menuVertical{
	/* testear en resoluciones mas grandes
	background: url(../img/fondoMenu.png) repeat-y;
	position:absolute;
	left:111px;
	top:170px;
	width:220px;
	height:380px;*/
	
	background: url(../img/fondoMenu.png) repeat-y;
	position:relative;
	left:-28px;
	top:30px;
	width:220px;
	height:380px;
	
}
#menuVertical ul{
	padding-top:5px;
}
#menuVertical ul a{
	padding:8px 0px 8px 20px;
	margin-right:17px;
}

/* --------------- NAVEGACION ---------------*/
nav{
	display:block;
	width:960px;
	height:40px;
	color:black;
	background-color:#333;
	/*Arregla menu para IE7*/
	position:relative;
	z-index:20;
	*position:relative;
	*left:78px;
}

nav ul>li{
	float:right;
}
nav ul{
	overflow:hidden; /*evita sombreado arriba del menu*/
	/*background-color:white;*/ /*verificar que el float este bien*/
}

nav li a{
	display:block;
	margin:0 -12px 0 0px;
	border: 1px solid #eee;
	height:20px;
	text-align:center;
	width:123px;
	width:123px\9;

	/*Arregla menu para IE7*/
	*width:103px\9;
	*margin:0px !important;

	padding:10px 0 10px 0;


	/*box-shadow: 0px -10px 40px #333;*/
}

/*
nav li a:hover{
	color:white;
}
nav li>ul>li{
	clear:both;
	width:240px;
}
nav li>ul>li>a:hover{
	background-color:#eee;
	color:black;
}
nav li>ul>li>a{
	width:100%;
}*/
nav li a:hover{
	background-color:black;
	color:white;
	position:relative;
}
nav li>ul>li{
	clear:both;
	width:310px;
}
nav li>ul>li>a:hover{
	background-color:#eee;
	color:black;
}
nav li>ul>li>a{
	width:100%;
}

nav li>ul{
	display:none;
	position:absolute;
	background-color:white;
	border:1px solid #999;
	border-top:none;
	/*margin-left:12px;*/
	float:left;/*SI SE ROMPE SACAR ESTO*/
}
nav li>ul>li>a:hover{
	text-decoration:underline;
}
nav li:last-child>ul{
	margin-left:0px;
}
nav li:hover>ul{
	display:block;
}
nav,aside,head,h1,h2,h3,h4{
	/*font-family:'Carrois Gothic'sans-serif;	*/
	font-family:'Roboto Slab',"Myriad Pro","trebuchet ms","helvetica","verdana","arial";;
}
/* -----------------------------*/
footer{
	width:960px;
	padding:20px;
	clear:both;
	height:50px;
	padding-top:50px;
}
footer ul{
	float:right;
	width:300px;
}
footer ul:first-child{
	float:left;
}
aside ul,header ul, nav ul, footer ul{
	margin:0;
	padding:0;
}
#asideAdmin a{
	color:#333;
}
h1{
	padding:25px 0 0 120px;
	margin:0;
	padding-bottom:29px;
	font-size:26px;
}
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
}
h1{
	font-size:28px;
}
h2{
	font-size:24px;
	color:#5d5547;
}
h3{
	font-size:18px;
}
h4{
	color:#467;
	font-size:16px;
}
h5{
	color:#479;
	font-size:15px;
}
h6{
	font-weight:italic;	
	font-size:14px;
}


h1 a,nav a{
	text-decoration:none;
}
h1 a{
	color:white;
}
h1 a:visited{
	color:white;
}
h2{
	margin-bottom:20px;
	margin-top:20px;
	border-bottom:2px solid #DDCDB4;
	/*#b2a48e*/
}
h3{
	margin: 20px 0px 5px 0px;
}
h4{
	margin:10px 0px 5px 0px;
}
.flotarIzq{
	float:left;
}
.margenDer{
	margin-right:100px;
}
.mitadAncho{
	width:50%;
}
.clear{
	clear:both;
}
.nofloat{
	clear:left;
}
.colDer{
	float:right;
	/*background-color:#eee;*/
	background:url('../img/fondoMenu2.png');
	padding:20px 40px 20px 40px;
	margin:20px 0px 20px 20px;
	width:170px;
	height:1154px;
	color:white;
	margin-right:-28px;
	/*border:1px solid #ddd;*/
}
.colDer a{
	color:white;
}
.colDer a:hover{
	color:#2086eC;
}

.rojo{
	border-bottom:5px solid #CC3300;
}
.verde{
	border-bottom:5px solid #669933;
}
.amarillo{
	border-bottom:5px solid #FFCC32;
}
.azul{
	border-bottom:5px solid #0066CC;
	width:140px;
	*width:120px;
}
.naranja{
	border-bottom:5px solid #FF9900;
	width:151px;
	width:151px\9;
	*width:121px;
	color:green;

}
.violeta{
	border-bottom:5px solid #9965FF;
	width:210px;
	width:210px\9;
	*width:160px;
	color:green;

}
.gris{
	border-bottom:5px solid #777;
	width:160px;
	width:160px\9;
	*width:110px;
	color:green;
	/*font-size: 12px;
	padding-left:20px;
	padding-right:20px;*/
}
.rojo:hover, .rojoEstatico{
	border:1px solid #CC3300;
	border-bottom:5px solid #CC3300;
	background-color:#EA511E;
}
.verde:hover, .verdeEstatico{
	border:1px solid #669933;
	border-bottom:5px solid #669933;
	background-color:#86b953;

}
.amarillo:hover, .amarilloEstatico{
	border:1px solid #FFCC32;

	border-bottom:5px solid #FFCC32;
	background-color:#FFeC52;

}
.azul:hover, .azulEstatico{
	border:1px solid #0066CC;

	border-bottom:5px solid #0066CC;
	background-color:#2086eC;

}
.naranja:hover, .naranjaEstatico{
	border:1px solid #FF9900;

	border-bottom:5px solid #FF9900;
	background-color:#FFb930;

}
.violeta:hover, .violetaEstatico{
	border:1px solid #9965FF;

	border-bottom:5px solid #9965FF;
	background-color:#b985FF;
}
.gris:hover, .grisEstatico{
	border:1px solid #777;
	border-bottom:5px solid #777;
	background-color:#bbb;
}
.rojo:hover,.verde:hover,.amarillo:hover,.azul:hover,.naranja:hover,.violeta:hover,.gris:hover{
	color:white;
}
.rojo,.verde,.amarillo,.azul,.naranja,.violeta,.gris{
	background-color:white;
}


.redondeado>li>a {
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    behavior:url(border-radius.htc);
    font-size: 14px;
}
.redondeado .rojo{
	-moz-border-radius: 0px 10px 0px 0px;
	-webkit-border-radius: 0px 10px 0px 0px;
	border-radius: 0px 10px 0px 0px;
}

.redondeado li a:hover{
	/*padding-bottom:15px;
	margin-top:-5px;*/
}
/*Intro*/

.redondeado a:link{
	color:#333;
}


#imgPichu{
	margin:auto;
	display:block;
}
#hIntro{
	text-align:center;
	margin-bottom:70px;
}
#footIntro{
	text-align:center;
}
img{
	border:1px solid #bbb;
	padding:5px;
	box-shadow: 2px 2px 15px #bbb;
}
form div label{
	margin-right:5px;
}
form div input{
	margin-right:10px;
}
/*form*/
#contenido form input,#contenido form select{
	padding:4px;
	width:150px;
	font-size:13px;
	border-radius: 2px;
	border: 1px solid #bbb;
}
#contenido form input.chico{
	width:80px;
}
#contenido form select{
	width:160px;
}
#contenido form select.chico{
	width:90px;
}
#contenido form input[type="radio"]{
	width:60px;
}
#contenido form input[type="submit"]{
	cursor:pointer;
}
#contenido form input[type="submit"]:disabled{
	cursor:default;
}
/*-----*/
form>input,form>select,form div,form>textarea{
	display:block;
	margin:5px 0px;
}
#validacionAlert{
	background:#f8f8f8 url("../ico/alert.png") no-repeat;
	background-position:10px 50%;
}
#validacionOk{
	background:#f8f8f8 url("../ico/ok.png") no-repeat;
	background-position:10px 50%;
}
#validacionAlert,#validacionOk{
	padding:10px 10px 10px 50px;
	margin:10px 0px;
}
.opcionesAdmin{
	padding:20px;
}
.opcionesAdmin a{
	display:block;
	padding:10px;
	background-color:#eee;
	border:1px solid #ddd;
}
.opcionesAdmin a:hover{
	display:block;
	padding:10px;
	background-color:#ddd;
}
#contenedor #tabla{
	overflow: auto;
}
table{
	font-size:12px;
	border:none;
	background-color:#eee;
	padding-right:20px;
	margin-right:40px;

}
td,tr{
	padding:5px;
	border:1px solid #ddd;
	text-align:center;
}
.negrita{
	font-weight:bold;
}
#paginas{
	padding:15px;
	color:black;
}
#paginas a {
	padding:10px;
	background-color:#eee;
}
#paginas a:hover {
	padding:10px;
	background-color:#ddd;
}

/*#paginas a[title=ant]{
	float:left;
}
#paginas a[title=sig]{
	float:right;
}*/

.atencion{
	padding:15px;
	border: 1px solid #ddd;
	background-color:#eee;
	font-weight:bold;
}
.aclaracion{
	padding:5px;
	border: 1px solid #eee;
	background-color:#f9f9f9;	
}
.llamativo{
	font-size:22px;
}
.indice li{
	font-size:20px;
}
table li{
	list-style:none;
}
.derAlign{
	text-align:right;
}
.izqAlign{
	text-align:left;
}
.oculto:hover{
	text-decoration:underline;
	cursor:pointer;
	color:#2353D9;
}
strong{
	font-weight:bold;
}


.division{
	margin-bottom:15px;
	padding:10px;
	background:#eee;
}


.listaEstilo li{
	list-style-type:square !important;
	font-size:16px;
	margin-left:20px;
	margin-bottom:10px;
}

/*LINK LUCO*/

footer a{
	color:#2086eC !important;
}
footer a:hover{
	color:#06C !important;
}
