/*reiniciar valores por defecto*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i ,strong, em, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
body{
	color:#777;
	background-color:#222;
	padding:20px;
	margin:auto;
	font-family:"Myriad Pro","trebuchet ms","helvetica","verdana","arial";
	background:#99bbff; 
}
p{
	font-size:18px;
}
table tr{
}
table td{
	padding:5px;
	border:1px solid black;
}
table strong{
	font-size:18px;
	font-weight:bold;
}
table{
	background-color:white;
}
h1{
	font-size:26px;
}
img{
	position:absolute;
}
.img{
	display:block;
	width:66px;
	height:20px;
}
div{
	margin:5px;
}
table span{
	margin-left:10px;
	margin-right:5px;
	color:#111;
}
#ingreso{
	border-top:1px solid black;
}
#ancho{
	width:430px;
}
#corto{
	width:255px;
}
