/*@import url('http://fonts.googleapis.com/css?family=Carrois+Gothic');*/
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400');

/*reiniciar valores por defecto*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i ,strong, em, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*body,h1,h2,h3,h4,h5,h6,ul,ol{
	padding:0;
	margin:0;
}*/
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#e67e22;
}
header,section,article,aside,footer{
	display:block; /*Arregla problemas de compatibilidad con html5: para firefox por ej.*/
}
/*-----------------*/
body{
	font-family:'Roboto Slab',"Myriad Pro","trebuchet ms","helvetica","verdana","arial";
}

table{
	font-size:16px;
	border:none;
	background-color:#eee;
	margin-right:40px;
	width:100% !important;

}
td,tr{
	padding:5px;
	border:1px solid #ddd;
	text-align:center;
}

h1{color:#fff;}
h1 a{color:#fff;}
header{background:#e67e22;padding:16px 32px;}
aside{background:#ecf0f1;}
aside a{color:#e67e22;padding:16px 32px;}
aside a:hover{color:#fff;background:#e67e22;}
nav{background:#2c3e50;color:#fff;}
nav ul a{color:#e67e22;padding:16px 32px;}
nav ul a:hover{color:#fff;background:#e67e22;}
nav ul ul a{color:#e67e22;padding:16px 32px;background:#34495e !important;}
nav ul ul a:hover{color:#fff;background:#666;}
li a{display:block;}
aside li a:hover{border-left:8px solid #e74c3c;}
nav li a{border-left:8px solid #e74c3c;}
section{padding:32px;}
section h2{font-size: 22px;}
strong,b{font-weight: bold;}